<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Animestry</title>
</head>
<body>
      {{!navbar begins}}

      {{>navbar}}

      {{!navbae ends}}

      {{!homepage begins}}
      
      {{>home}}

      {{!homepage ends}}

      {{!about us starts}}

      {{>about}}

      {{!about us ends}}

      {{!service page start}}

      {{>service}}

      {{!service page end}}

      {{!gallery start}}

      {{>gallery}}
      
      {{!gallery end}}
      <h2 class="text-center main-heading" id="logo">Store Loaction</h2>
      {{!map starts}}
            <section>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13777.345721629019!2d78.0242017!3d30.312947!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc27bee22c161e818!2sAnimestry!5e0!3m2!1sen!2sin!4v1657784638408!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </section>
      {{!map ends}}

      {{!contacy us start}}

      {{>contact}}

      {{!contacy us end}}
      <div class="container-fluid mt-5">
          <div class="row">
              <div class ="col-md-10 col-12 mx-auto">
                <div class="row">
                  <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                    <h4><span class="main-heading">Address</span></h4>
                    <h4>Near Paras Palace</h4>
                    <h4>33/4/1, Saharanpur Road</h4>
                    <h4>Patel Nagar<h4>
                    <h4>Dehradun, Uttarakhand 248001<h4>
                    <h4>India</h4>
                  </div>
                  <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                    <h4><span class="main-heading">Opening Hours</span></h4>
                    <h4>Open 24 hours from Monday to Friday</h4>
                    
                    <h4>9 A.M. to 5 P.M. on Saturday</h4>
                    <h4>Closed on Sundays<h4>
                    <h4>I.S.T. (Indian Standard Time)</h4>
                  </div>
                </div>
              </div> 

          </div>
      </div>
          



      <p><span class="bold-style">(Note:price per product varies, Buying in bulk will change the overall unit cost and delivery fare.)</span></p>
      <script src="../jq/jquery.js" type="text/javascript"> </script>
      <script src="../js/bootstrap.js" type="text/javascript"> </script>
  </body>
</html>