{{!first left photo}}
            <div class="container-fluid mt-5 contact-style">
                <div class="row">
                    <div class ="col-md-10 col-12 mx-auto"id="galleryid">
                        <h2 class="text-center main-heading"><span>Product Gallery</span></h2>
                        <div class="row ">
                            <div class="col-md-6 col-12 hero-text">
                                <figure>
                                    <img src="images/luffy.png" alt="ERROR 404 NO BITCHES">
                                </figure>
                            </div>
                            {{!-- right side --}}
                            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                                <figure>
                                    <img src="images/zero_two.png" alt="herosectionimage">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            {{!secont left photo}}
            <div class="container-fluid mt-5"id="galleryid">
                <div class="row">
                    <div class ="col-md-10 col-12 mx-auto">
                        <div class="row ">
                            <div class="col-md-6 col-12 hero-text">
                                <figure>
                                    <img src="images/OP.png" alt="ERROR 404 NO BITCHES">
                                </figure>
                            </div>
                            {{!-- right side --}}
                            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                                <figure>
                                    <img src="images/blackclover.png" alt="herosectionimage">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            {{!secont left photo}}
            <div class="container-fluid mt-5"id="galleryid">
                <div class="row">
                    <div class ="col-md-10 col-12 mx-auto">
                        <div class="row ">
                            <div class="col-md-6 col-12 hero-text">
                                <figure>
                                    <img src="images/val.png" alt="ERROR 404 NO BITCHES">
                                </figure>
                            </div>
                            {{!-- right side --}}
                            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                                <figure>
                                    <img src="images/ones.png" alt="herosectionimage">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>