<div class="container-fluid mt-5 about-style"id="serviceid">
    <div class="row">
        <div class ="col-md-10 col-12 mx-auto">
            <h1 class = "text-center main-heading">Products</h1>
            <p class = "text-center">Our range of productse</p>
            <p class="text-center sub-heading"></p>
            <div class="row ">
               <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Tshirts and Tops</h4>
                            <p>T-shirts and crop tops made with pure cotton available in all sizes for all ages</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">                   
                            <h4>Hoodies</h4>
                            <p>woollen and polyster Hoodies for both summer and winter available in all sizes</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                           
                            <h4>Masks</h4>
                            <p>Cotton blende three-layer mask with custom printing available (free size)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                           
                            <h4>Illustrations</h4>
                            <p>Original hand-made anime illustrations by young artists.(Can be printed on any item of choice)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            
                            <h4>Shirts</h4>
                            <p>Oversized cotton t-shirts (Available in M,L and Xl)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            
                            <h4>Cosplays and more..</h4>
                            <p>Cosplay products (Wigs, Gloves, Masks, accessories etc.)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services datasticker">
                            
                            <h4>Stickers</h4>
                            <p>Sort by anime or custom made(minimum order quantity required)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services datakeychain">
                            
                            <h4>Keychains</h4>
                            <p>Acrylic chibi anime character and lanyard wristlet keychains </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services datajewellery">
                            
                            <h4>Jewellery</h4>
                            <p>Anime accessories (chain, rings, wallets, socks,katanas and more)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 